/* Restaurant Style Sheet */
body {
	background-image: url(http://cliparwolf.com/images/black-background/black-background-11.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 75px;
	color: #c00;
}

h2 {
    color: #fff;
    text-decoration: underline;
}

a {
    color: #fff;
    font-size: 20px;
	font-weight: none;
}

a:link {
	color: #fff;
	font-size: 20px;
}

a:visited {
    color: cyan;
    font-size: 20px;
}

a:hover {
	font-weight: italic;
	font-size: 20px;
}

a:active {
	font-weight: bold;
	font-size: 20px;

}

td {
    color: #fff;
}

#contact {
    color: #fff;
    text-align: center;
}
